{% extends 'base.html'%}

{% block content %}
  <div class="container">
    <div class="row">
      {% for article in details %}
      <div class="col-md-4">
          <img src="{{article.urlToImage}}" alt="News photo" height="200px", width="350px">
          <h4><b>{{article.title}}</b></h4>
          <p>{{ article.description}}</p>
          <p><b>Article By:</b> {{ article.author.title()}} <span class="sources"><a href="{{article.url}}">Read More</a></span></p>
          <hr>
       </div>
       {% endfor %}
    </div>
  </div>
  <footer class="page-footer">
    <div class="footer-copyright text-center">
      <h6>© 2020 Copyright: Muthoni Njuguna</h6>
    </div>
  </footer>
{% endblock %}
